html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  color: #e6f2f5;
  background-color: #046487;
 letter-spacing:1px
}

/* Header */
header {
  height: 60px;
  color: #e6f2f5;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
}

nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #e6f2f5;
}

/* Main */
main {
  max-width: 780px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  font-size: 25px;
  margin: 24px 0 8px;
  color:#fcebae
}

h3 {
  font-size: 20px;
  margin: 0 0 8px 0;
  font-weight: 500;
}

section {
  margin-bottom: 48px;
}

p {
  color: #e6f2f5;
  line-height:27px
}

/* Personal Info */

.avatar {
  text-align: center; /* 內容置中 */
}

.avatar-img {
  border-radius: 50%; /* 圓框效果 */
  width: 25% /* 縮小頭貼尺寸 */
}

.name {
  text-align: center; /* 內容置中 */
  font-size: 32px;
  margin: 20px 0;
}

.social-media {
  text-align: center; /* 內容置中 */
  margin-bottom: 20px;
}

.social-media-link {
  color: #aeedfc;
  text-decoration: none; /* 沒有底線 */
  margin: 0 5px;
}

.social-media-link:hover {
  /* 滑鼠移過改變顏色 */
  color: #fcebae;
}

.title {
  margin-bottom: 20px;
  text-align: center;/* 內容置中 */
  font-size: 18px; 
  letter-spacing: 2px; /* 字元間距 */
  color: #fcebae;
}

/* Skill Section */
.skills {
  display: flex;
  justify-content: space-between;
}
.skill {
  width: 30%;
}
.skill-name {
  border-top: 1px solid #e6f2f5;
  padding-top: 16px;
}

.tebaPhoto, .industryAnalysis {
  text-align: center; /* 內容置中 */
  margin-bottom: 20px;
  color: #aeedfc;
  text-decoration: none; /* 沒有底線 */
  margin: 0 5px;
}
.tebaPhoto:hover {
  /* 滑鼠移過改變顏色 */
  color: #fcebae;
}
.industryAnalysis:hover {
  /* 滑鼠移過改變顏色 */
  color: #fcebae;
}
.fa-camera,.fa-file-word {
  margin: 5px;  /* 文字與icon分開 */
}


/* Experience Section */
hr {
  border: 0px;
  height: 1px;
  background: #cccccc;
  margin: 20px 0;
}

.company,
.duration {
  color: #e6f2f5;
  font-size: 12px;
  margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
}

.thankYouWord{
  font-size: 12px;
  text-align: center;
}
